// Specific CSS for your home-page
h1 {
  text-align: center;
  font-size: helvetica;
  margin-top: 8px;
}

p {
  margin-top: 16px;
  text-align: center;
}

.card {
  margin-top: 16px;
}

li {
  text-decoration: none;
  text-align: center;
}
